body {
  font-family: 'Open Sans', sans-serif;
}

.color-Main {
  background: #ed8323;
  color: #fff !important;
}

.color-Main-cl {
  color: #ed8323;
  transition: color .3s ease;
}
.color-Main-cl:hover {
  color: #cc6a11;
}

.color-second {
  background: #0ebcf2;
}

.color-second-cl {
  color: #0ebcf2;
  transition: color .3s ease;
}
.color-second-cl:hover {
  color: #0a97c3;
}

.color-three {
  background: #b66672;
}

.color-three-cl {
  color: #b66672;
  transition: color .3s ease;
}
.color-three-cl:hover {
  color: #9e4b58;
}

.color-fourth {
  background: #b66672;
}

.color-fourth-cl {
  color: #b66672;
  transition: color .3s ease;
}
.color-fourth-cl:hover {
  color: #9e4b58;
}

.color-five {
  background: #4F96B6;
}

.color-five-cl {
  color: #4F96B6;
  transition: color .3s ease;
}
.color-five-cl:hover {
  color: #3e7994;
}

.color-six {
  background: #E45E66;
}

.color-six-cl {
  color: #E45E66;
  transition: color .3s ease;
}
.color-six-cl:hover {
  color: #dd323c;
}

.color-seven {
  background: #96AA66;
}

.color-seven-cl {
  color: #96AA66;
  transition: color .3s ease;
}
.color-seven-cl:hover {
  color: #7c8e4f;
}

.color-eight {
  background: #5B84AA;
}

.color-eight-cl {
  color: #5B84AA;
  transition: color .3s ease;
}
.color-eight-cl:hover {
  color: #486a8a;
}

.color-nine {
  background: #CA2AC6;
}

.color-nine-cl {
  color: #CA2AC6;
  transition: color .3s ease;
}
.color-nine-cl:hover {
  color: #a0219d;
}

.color-ten {
  background: #CF315A;
}

.color-ten-cl {
  color: #CF315A;
  transition: color .3s ease;
}
.color-ten-cl:hover {
  color: #a62748;
}

.color-eleven {
  background: #74C683;
}

.color-eleven-cl {
  color: #74C683;
  transition: color .3s ease;
}
.color-eleven-cl:hover {
  color: #50b763;
}

.color-twelve {
  background: #30BBB1;
}

.color-twelve-cl {
  color: #30BBB1;
  transition: color .3s ease;
}
.color-twelve-cl:hover {
  color: #26928b;
}

.color-thirteen {
  background: #7646B8;
}

.color-thirteen-cl {
  color: #7646B8;
  transition: color .3s ease;
}
.color-thirteen-cl:hover {
  color: #5e3893;
}

.color-fourteen {
  background: #966650;
}

.color-fourteen-cl {
  color: #966650;
  transition: color .3s ease;
}
.color-fourteen-cl:hover {
  color: #754f3e;
}

.color-fifteen {
  background: #1A5AE4;
}

.color-fifteen-cl {
  color: #1A5AE4;
  transition: color .3s ease;
}
.color-fifteen-cl:hover {
  color: #1548b6;
}

.color-sixteen {
  background: #FF1D13;
}

.color-sixteen-cl {
  color: #FF1D13;
  transition: color .3s ease;
}
.color-sixteen-cl:hover {
  color: #df0900;
}

.LastLi {
  color: #999999;
}
.LastLi i {
  display: none;
}

.text-style {
  font-size: 107%;
  line-height: 1.5em;
}

.white-space {
  display: block;
  position: relative;
  margin: 30px 0 30px 0;
  clear: both;
}

@keyframes bounce {
  0%, 20%, 50%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(1px);
  }
}
@keyframes clock {
  100% {
    transform: rotateZ(360deg);
  }
}
#tabs .container .row .col-md-6 .nav-tabs .nav-item .nav-link {
  background: rgba(0, 0, 0, 0.4);
  border: none !important;
  color: #fff;
  margin: 0px 5px;
}
#tabs .container .row .col-md-6 .nav-tabs .nav-item .nav-link i {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 2px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
  transition: all .4s ease;
}
#tabs .container .row .col-md-6 .nav-tabs .nav-item .nav-link i:hover {
  background: #4F96B6;
  color: #fff;
}
#tabs .container .row .col-md-6 .nav-tabs .nav-item .nav-link span {
  color: #fff;
}
#tabs .container .row .col-md-6 .nav-tabs .nav-item .nav-link.active {
  background: #4F96B6;
}
#tabs .container .row .col-md-6 .nav-tabs .nav-item .nav-link.active i {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 2px;
  background: rgba(0, 0, 0, 0.3);
  margin-right: 5px;
  border-radius: 50%;
  text-align: center;
}
#tabs .container .row .col-md-6 .nav-tabs .nav-item .nav-link.active span {
  color: #fff;
}

#CommingSoon {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/CoomingSoonBg.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
}
#CommingSoon .container-fluid {
  padding: 30px;
}
#CommingSoon .container-fluid .row .logo {
  width: 150px;
  position: relative;
  z-index: 1;
  opacity: .8;
  transition: opacity .4s ease;
}
#CommingSoon .container-fluid .row .logo:hover {
  opacity: 1;
}
#CommingSoon .container-fluid .row .col-md-12 {
  height: 100vh;
  background: rgba(3, 3, 3, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
}
#CommingSoon .container-fluid .row .col-md-12 .content {
  position: relative;
  z-index: 5;
}
#CommingSoon .container-fluid .row .col-md-12 .content h1 {
  color: #fff;
}
#CommingSoon .container-fluid .row .col-md-12 .content .timer {
  padding: 5px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
#CommingSoon .container-fluid .row .col-md-12 .content .timer li {
  padding: 0px 15px;
  list-style: none;
  float: left;
}
#CommingSoon .container-fluid .row .col-md-12 .content .timer li strong {
  font-size: 5em;
  color: #fff;
  font-weight: 400;
}
#CommingSoon .container-fluid .row .col-md-12 .content .timer li span {
  color: rgba(255, 255, 255, 0.15);
  font-size: 1.3em;
  position: relative;
  bottom: 15px;
}
#CommingSoon .container-fluid .row .links .icons {
  width: 100%;
  position: fixed;
  bottom: 30px;
}
#CommingSoon .container-fluid .row .links .icons li {
  list-style-type: none;
  float: left;
}
#CommingSoon .container-fluid .row .links .icons li a {
  margin: 10px;
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  border-radius: 50%;
  transition: 0.3s;
}
#CommingSoon .container-fluid .row .links .icons li a span {
  color: #fff;
}
#CommingSoon .container-fluid .row .links .icons li a:hover span {
  animation: bounce 1s;
}

header .headerTop {
  background: #4D4D4D;
  padding: 5px 0px;
}
header .headerTop .container .row .logo img {
  width: 150px;
  height: auto;
  margin: 10px 0px;
}
header .headerTop .container .row .search .container-fluid .row .col-md-8 {
  margin: 10px 0px;
  margin-left: -15px;
}
header .headerTop .container .row .search .container-fluid .row .col-md-8 .input-group {
  width: 100% !important;
}
header .headerTop .container .row .search .container-fluid .row .col-md-8 .input-group span {
  border-right: 0px;
  background: #262626;
  color: #f2f2f2;
}
header .headerTop .container .row .search .container-fluid .row .col-md-8 .input-group input {
  background: #262626;
  color: #f2f2f2;
  padding: .5rem .1rem !important;
}
header .headerTop .container .row .search .container-fluid .row .col-md-8 .input-group input[type="text"] {
  outline: none;
  box-shadow: none !important;
  border: 1px solid  #262626 !important;
}
header .headerTop .container .row .search .container-fluid .row .col-md-4 .FlagDrop {
  margin: 10px -15px;
  line-height: 36px;
  position: relative;
}
header .headerTop .container .row .search .container-fluid .row .col-md-4 .FlagDrop .flaglink a {
  transition: 0.3s;
  text-decoration: none;
  color: #f2f2f2;
}
header .headerTop .container .row .search .container-fluid .row .col-md-4 .FlagDrop .flaglink a img {
  margin-top: -2px;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  opacity: 0.8;
}
header .headerTop .container .row .search .container-fluid .row .col-md-4 .FlagDrop .flaglink a:hover {
  color: #ed8323;
}
header .headerTop .container .row .search .container-fluid .row .col-md-4 .FlagDrop .flaglink a:hover img {
  opacity: 1;
}
header .headerTop .container .row .search .container-fluid .row .col-md-4 .FlagDrop .Triangle {
  transition: all .1s linear;
  height: 0px;
  width: 0px;
  border-left: 10px solid #4D4D4D;
  border-right: 10px solid #4D4D4D;
  background: #262626;
  border-bottom: 10px solid black;
  position: absolute;
  bottom: 0px;
  z-index: 2;
}
header .headerTop .container .row .search .container-fluid .row .col-md-4 .FlagDrop .flags {
  background: #333333;
  position: absolute;
  left: -10px;
  top: 40px;
  transition: all .1s linear;
  z-index: 10;
}
header .headerTop .container .row .search .container-fluid .row .col-md-4 .FlagDrop .flags ul {
  padding: 0px;
  height: auto;
  width: 85px;
}
header .headerTop .container .row .search .container-fluid .row .col-md-4 .FlagDrop .flags ul li {
  list-style-type: none;
  float: left;
  padding: 10px 10px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #262626;
  height: 42px;
}
header .headerTop .container .row .search .container-fluid .row .col-md-4 .FlagDrop .flags ul li a {
  background: #333;
  color: #fff;
  line-height: 20px;
  display: block;
  position: relative;
  transition: 0.3s;
  font-size: .7em;
}
header .headerTop .container .row .search .container-fluid .row .col-md-4 .FlagDrop .flags ul li a img {
  margin-top: -2px;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  opacity: 0.8;
  margin-right: 10px;
}
header .headerTop .container .row .search .container-fluid .row .col-md-4 .FlagDrop .flags ul li a i {
  transform: rotate(0deg);
}
header .headerTop .container .row .search .container-fluid .row .col-md-4 .FlagDrop .flags ul li a:hover {
  color: #ed8323;
}
header .headerTop .container .row .search .container-fluid .row .col-md-4 .FlagDrop .flags ul li a:hover img {
  opacity: 1;
}
header .NavBar {
  border-bottom: 2px solid #ed8323;
  position: relative;
  z-index: 5px;
  background: #fff;
}
header .NavBar .container .row .col-lg-12 nav {
  background: transparent;
  color: #fff;
}
header .NavBar .container .row .col-lg-12 nav .BurgerMenu {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 50px;
  padding: 0px 10px;
}
header .NavBar .container .row .col-lg-12 nav .Burger {
  background: #262626;
  height: 50px;
}
header .NavBar .container .row .col-lg-12 nav .Burger button {
  margin-top: 10px;
  margin-right: -7px;
}
header .NavBar .container .row .col-lg-12 nav .Burger button:focus {
  outline: none;
  box-shadow: none !important;
  border: 1px solid  #4D4D4D !important;
}
header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item.active .nav-link, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item.active .nav-link {
  background: #ed8323;
  color: #fff !important;
  padding: 0px 12px;
}
header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item.active .nav-link i, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item.active .nav-link i {
  color: #fff !important;
}
header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item {
  line-height: 48px;
  margin-right: 3px;
  transition: all 0.3s ease-in-out 0s;
}
header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item:hover .nav-link, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item:hover .nav-link {
  background: #ed8323;
  color: #fff !important;
}
header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .nav-link, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Roboto', arial, helvetica, sans-serif;
  color: #737373;
  background: #fff;
  transition: background-color 0.17s ease-out;
  position: relative;
  z-index: 2;
}
@media (max-width: 576px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .nav-link, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .nav-link {
    padding: 0px 12px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .nav-link, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .nav-link {
    padding: 0px 12px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .nav-link, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .nav-link {
    padding: 0px 12px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .nav-link, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .nav-link {
    padding: 2px 12px;
  }
}
@media (min-width: 1200px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .nav-link, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .nav-link {
    padding: 2px 12px;
  }
}
header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .nav-link strong, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .nav-link strong {
  position: relative;
  left: 10px;
}
header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .nav-link i, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .nav-link i {
  font-size: 1.4em;
  padding: 14px 20px;
  margin-right: -15px;
}
@media (max-width: 576px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .nav-link i, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .nav-link i {
    background: #cc6a11;
    color: #fff;
    float: right;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .nav-link i, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .nav-link i {
    background: #cc6a11;
    color: #fff;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .nav-link i, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .nav-link i {
    background: #cc6a11;
    color: #fff;
  }
}
header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems {
  display: none;
  position: absolute;
  z-index: 5;
}
@media (max-width: 576px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems {
    margin-left: 50px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems {
    margin-left: 50px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems {
    margin-left: 50px;
  }
}
header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li {
  list-style-type: none;
  line-height: 47px;
  width: 170px;
}
header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a {
  padding: 0px 12px;
  text-decoration: none;
  font-weight: 500;
  display: block;
  transition: background-color 0.17s ease-out;
}
@media (max-width: 576px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a {
    background: #fff;
    color: #ed8323;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a {
    background: #fff;
    color: #ed8323;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a {
    background: #fff;
    color: #ed8323;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a {
    background: #333333;
    color: #fff;
  }
}
@media (min-width: 1200px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a {
    background: #333333;
    color: #fff;
  }
}
header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a span, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a span {
  line-height: 46px;
  float: right;
  color: white;
  font-size: 1em;
  margin-left: 50px;
  transition: background-color 0.17s ease-out;
}
@media (max-width: 576px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a span, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a span {
    color: #ed8323;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a span, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a span {
    color: #ed8323;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a span, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a span {
    color: #ed8323;
  }
}
header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a:hover, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a:hover {
  background: #ed8323;
}
@media (max-width: 576px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a:hover, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a:hover {
    color: #fff;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a:hover, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a:hover {
    color: #fff;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a:hover, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a:hover {
    color: #fff;
  }
}
@media (max-width: 576px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a:hover span, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a:hover span {
    color: #fff;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a:hover span, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a:hover span {
    color: #fff;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header .NavBar .container .row .col-lg-12 nav .collapse .navbar-nav .nav-item .dropDrownItems li a:hover span, header .NavBar .container .row .col-lg-12 nav .collapsing .navbar-nav .nav-item .dropDrownItems li a:hover span {
    color: #fff;
  }
}

#AboutUs {
  padding: 30px 0px;
}
#AboutUs .container .row .col-lg-8 h1 {
  font-size: 75px;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #565656;
  line-height: 1.3em;
}
@media (max-width: 576px) {
  #AboutUs .container .row .col-lg-8 h1 {
    font-size: 60px;
  }
}
#AboutUs .container .row .col-lg-8 p {
  font-size: 108%;
  line-height: 1.5em;
  color: #757575;
}

#AboutUsAttenchment {
  padding: 50px 0px;
  background-image: url("../img/people_on_the_beach_1280x852.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
#AboutUsAttenchment .container .row .col-lg-10 .AttenchmentContent {
  position: relative;
  z-index: 2;
}
#AboutUsAttenchment .container .row .col-lg-10 .AttenchmentContent h2 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 40px;
}
#AboutUsAttenchment .container .row .col-lg-10 .AttenchmentContent p {
  color: #fff;
}
#AboutUsAttenchment .ShadowOfAttenchment {
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.4);
  position: absolute;
  top: 0px;
}

#AboutContent {
  padding-top: 50px;
  padding-bottom: 10px;
}
#AboutContent .container .row .Approach h2 {
  font-size: 40px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #565656;
  line-height: 1.3em;
}
#AboutContent .container .row .Approach p {
  color: #757575;
}
#AboutContent .container .row .Rockstar {
  margin-bottom: 10px;
}
#AboutContent .container .row .Rockstar h2 {
  font-size: 40px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #565656;
  line-height: 1.3em;
}
@media (max-width: 576px) {
  #AboutContent .container .row .Rockstar h2 {
    font-size: 40px;
  }
}
#AboutContent .container .row .Rockstar p {
  color: #757575;
}
#AboutContent .container .row .Team .TeamImg {
  width: 100%;
  height: auto;
}
#AboutContent .container .row .Team .TeamImg img {
  border-radius: 50%;
  width: 100%;
  margin-bottom: 15px;
}
#AboutContent .container .row .Team h5 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  color: #565656;
  line-height: 1.3em;
}
@media (min-width: 768px) and (max-width: 992px) {
  #AboutContent .container .row .Team h5 {
    font-size: 24px;
  }
}
#AboutContent .container .row .Team p {
  font-style: italic;
  font-size: 12px;
  line-height: 1.5em;
  color: #757575;
}
@media (min-width: 768px) and (max-width: 992px) {
  #AboutContent .container .row .Team p {
    font-size: 18px;
  }
}
#AboutContent .container .row .JoinTeam {
  margin-top: 15px;
}
#AboutContent .container .row .JoinTeam h4 {
  font-size: 23.66px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #565656;
  line-height: 1.3em;
}
@media (max-width: 576px) {
  #AboutContent .container .row .JoinTeam h4 {
    font-size: 40px;
  }
}
#AboutContent .container .row .JoinTeam p {
  font-size: 90%;
  color: #757575;
}
#AboutContent .container .row .JoinTeam a {
  text-decoration: none;
  transition: color .3s ease;
  color: #ed8323;
}
#AboutContent .container .row .JoinTeam a:hover {
  color: #9d510d;
}
#AboutContent .container .row .Scenes h1 {
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #565656;
  line-height: 1.3em;
}
@media (max-width: 576px) {
  #AboutContent .container .row .Scenes h1 {
    font-size: 40px;
  }
}

#AboutScenes .container-fluid .row .col-lg-3 {
  padding: 0px;
}
#AboutScenes .container-fluid .row .col-lg-3 img {
  width: 100%;
}

#Page404 {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/196_365_1300x900.jpg");
  background-size: cover;
  position: relative;
}
#Page404 .container-fluid {
  padding: 30px;
}
#Page404 .container-fluid .row .logo {
  width: 150px;
  position: relative;
  z-index: 1;
  opacity: .8;
  transition: opacity .4s ease;
}
#Page404 .container-fluid .row .logo:hover {
  opacity: 1;
}
#Page404 .container-fluid .row .col-md-12 {
  height: 100vh;
  background: rgba(3, 3, 3, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
}
#Page404 .container-fluid .row .col-md-12 .content {
  position: relative;
  z-index: 5;
  color: #fff;
  width: 40%;
}
@media (max-width: 576px) {
  #Page404 .container-fluid .row .col-md-12 .content {
    width: 70%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #Page404 .container-fluid .row .col-md-12 .content {
    width: 60%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #Page404 .container-fluid .row .col-md-12 .content {
    width: 50%;
  }
}
#Page404 .container-fluid .row .col-md-12 .content h1 {
  font-size: 200px;
  line-height: 1em;
  font-weight: 300;
}
@media (max-width: 576px) {
  #Page404 .container-fluid .row .col-md-12 .content h1 {
    font-size: 100px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #Page404 .container-fluid .row .col-md-12 .content h1 {
    font-size: 150px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #Page404 .container-fluid .row .col-md-12 .content h1 {
    font-size: 175px;
  }
}
#Page404 .container-fluid .row .col-md-12 .content h3 {
  font-size: 50px;
  font-weight: 400;
}
@media (max-width: 576px) {
  #Page404 .container-fluid .row .col-md-12 .content h3 {
    font-size: 40px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #Page404 .container-fluid .row .col-md-12 .content h3 {
    font-size: 35px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #Page404 .container-fluid .row .col-md-12 .content h3 {
    font-size: 30px;
  }
}
#Page404 .container-fluid .row .col-md-12 .content a {
  text-decoration: none;
  color: #fff;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33;
  border: 1px solid #fff;
  position: relative;
  top: 10px;
  border-radius: 5px;
  transition: all .4s ease;
}
#Page404 .container-fluid .row .col-md-12 .content a:hover {
  background: #fff;
  color: #565656;
  border-radius: 10px;
}
#Page404 .container-fluid .row .col-md-12 .content a:hover i {
  color: #565656;
}
#Page404 .container-fluid .row .col-md-12 .content a i {
  font-size: 20px;
  margin-right: 10px;
}
#Page404 .container-fluid .row .Links {
  position: fixed;
  bottom: 30px;
  text-decoration: center;
}
#Page404 .container-fluid .row .Links ul {
  padding-left: 0px;
  position: fixed;
  bottom: 30px;
}
#Page404 .container-fluid .row .Links ul li {
  list-style: none;
  float: left;
  margin: 0px 10px;
}
#Page404 .container-fluid .row .Links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
}
#Page404 .container-fluid .row .Links ul li a:hover {
  text-decoration: underline;
}

#Loading {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/upper_lake_in_new_york_central_park_1024x487.jpg");
  background-size: cover;
  position: relative;
}
#Loading .container-fluid {
  padding: 30px;
}
#Loading .container-fluid .row .logo {
  width: 150px;
  position: relative;
  z-index: 1;
  opacity: .8;
  transition: opacity .4s ease;
}
#Loading .container-fluid .row .logo:hover {
  opacity: 1;
}
#Loading .container-fluid .row .col-md-12 {
  height: 100vh;
  background: rgba(3, 3, 3, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
}
#Loading .container-fluid .row .col-md-12 .content {
  position: relative;
  z-index: 5;
  color: #fff;
}
#Loading .container-fluid .row .col-md-12 .content .clock {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}
#Loading .container-fluid .row .col-md-12 .content .clock .Dott {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
}
#Loading .container-fluid .row .col-md-12 .content .clock .Hour {
  height: 40px;
  width: 4px;
  background: #fff;
  position: absolute;
  top: 30px;
  left: 50%;
  transform-origin: center bottom;
  animation: clock 6s infinite linear;
  border-radius: 0 0 3px 3px;
}
#Loading .container-fluid .row .col-md-12 .content .clock .Minute {
  height: 56px;
  width: 4px;
  opacity: 0.8;
  background: #fff;
  position: absolute;
  top: 16px;
  left: 49%;
  transform-origin: center bottom;
  animation: clock 1s infinite linear;
  border-radius: 0 0 3px 3px;
}
#Loading .container-fluid .row .col-md-12 .content h2 {
  font-size: 40px;
  margin-bottom: 5px;
}

.input-group {
  width: 300px;
}

.color-org {
  transition: all .2s ease;
  color: red;
}

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.4);
  }
  40% {
    transform: scale(1.8);
  }
  50% {
    transform: scale(2.2);
  }
  60% {
    transform: scale(2);
  }
  70% {
    transform: scale(1.8);
  }
  80% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(30deg);
  }
  50% {
    transform: scale(40deg);
  }
  60% {
    transform: rotate(50deg);
  }
  70% {
    transform: rotate(60deg);
  }
  80% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(80deg);
  }
}
.pulse:hover {
  animation-name: pulse_animation;
  animation-duration: 1000ms;
  transform-origin: 70% 70%;
  animation-timing-function: linear;
}

.lightBox {
  height: 150px;
  width: 200px;
  overflow: hidden;
  position: relative;
  left: 40%;
  top: 20%;
  transition: all 2s ease;
}
.lightBox img {
  height: 100%;
  width: 100%;
  transition: all 2.5s ease;
}
.lightBox img:hover {
  transform: scale(1.5);
  transition: all 3s ease;
}
.lightBox:hover .icon1 {
  transform: translate(0px, -50px);
  transition: all .3s ease;
  opacity: 1;
}

.icon1 {
  transition: all .3s ease;
  position: relative;
  left: 40%;
  bottom: 35px;
  color: red;
  opacity: 0;
}

#map .contactHeading {
  padding: 50px;
}
#map .contactHeading h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 5em;
  color: #565656;
  font-weight: 350;
}
#map .maps {
  height: 400px;
}
#map .col-md-12:nth-child(2) {
  padding: 0px;
}

#infoUs {
  padding-top: 60px;
  color: #565656;
  margin-bottom: 50px;
}
#infoUs .leftSide {
  color: #A07373;
}
#infoUs .leftSide p {
  font-size: 14px;
}
#infoUs .leftSide .forms label {
  line-height: 20px;
  display: block;
}
#infoUs .leftSide .forms .btn-primary {
  margin-top: 10px;
}
#infoUs .rightSide {
  border-left: 1px solid  #D4D4D4;
  padding-left: 30px;
  color: #565656;
}
#infoUs .rightSide label {
  display: block;
  line-height: 20px;
}
#infoUs .rightSide a {
  line-height: 30px;
}

#footer {
  background: #262626;
  padding: 50px;
  padding-top: 50px;
  color: white;
}
#footer a {
  text-decoration: none;
  color: white;
  display: block;
  line-height: 22px;
}
#footer .footerA {
  font-size: 25px;
}
#footer .footerA a {
  font-size: 25px;
}
#footer .footerA small {
  font-size: .5em;
}
#footer .logos {
  height: auto;
  width: 150px;
  margin-bottom: 30px;
}
#footer .logos img {
  height: 100%;
  width: 100%;
}
#footer .linkss ul {
  padding-left: 0px;
}
#footer .linkss ul li {
  list-style: none;
}
#footer .linkss ul li a {
  font-size: .7em;
}
#footer small {
  font-size: .73em;
}
#footer .logolarXirdaYumru {
  margin-top: 20px;
  padding: 19px;
  padding-left: 0px;
}
#footer .logolarXirdaYumru ul {
  padding: 0px;
}
#footer .logolarXirdaYumru ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
}
#footer .logolarXirdaYumru ul li a {
  height: 30px;
  width: 30px;
  background: #0EBCF2;
  text-align: center;
  line-height: 30px;
  border-radius: 100%;
  text-decoration: none;
  color: white;
}
#footer h4 {
  font-size: 23px;
  font-weight: 300;
  padding-bottom: 5px;
}
#footer .NewsletterInput {
  background: black;
  margin-bottom: 10px;
  display: block;
}
#footer .btn-primary {
  margin-top: 10px;
}
#footer h3 {
  font-weight: 300;
  color: #1AAEF2;
}

@media (min-width: 360px) and (max-width: 411px) {
  #map .contactHeading h1 {
    font-size: 2.6em;
  }
}
@media (min-width: 412px) and (max-width: 576px) {
  #map .contactHeading h1 {
    font-size: 3em;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #map .contactHeading h1 {
    font-size: 4em;
  }
}
@media (min-width: 992px) and (max-width: 1350px) {
  #map .contactHeading h1 {
    font-size: 6em;
  }
}

@media (min-width: 360px) and (max-width: 576px) {
  #footer .f1 {
    font-size: .66em;
  }
  #footer .linkss {
    margin-top: 20px;
  }
  #footer .footerA h3, #footer .footerA a {
    font-size: 22px;
  }
  #footer .small2 {
    font-size: .4em;
  }
  #footer .logolarXirdaYumru ul li {
    width: 26px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #footer .footerA h3, #footer .footerA a {
    font-size: 15px;
  }
  #footer .footerA .small2 {
    font-size: .36em;
  }
  #footer .logolarXirdaYumru ul li {
    margin-right: 5px;
    width: 15px;
  }
  #footer .logolarXirdaYumru ul li a {
    width: 20px;
    font-size: 13px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #footer .footerA h3, #footer .footerA a {
    font-size: 15px;
  }
  #footer .footerA .small2 {
    font-size: .5em;
  }

  .logolarXirdaYumru ul li {
    margin-right: 1px !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #footer .logolarXirdaYumru ul li {
    margin-right: 2px !important;
  }
  #footer .footerA h3, #footer .footerA a {
    font-size: 20px;
  }
  #footer .footerA .small2 {
    font-size: .5em;
  }
}
.noPadding {
  height: 100vh;
  width: 100%;
  background-image: url("../img/196_365_1300x900.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.SLiderItems {
  color: white;
  z-index: 3;
}
.SLiderItems .SliderCity {
  border-top: 2px solid #858589;
  border-bottom: 2px solid #858589;
}
.SLiderItems .SliderCity h1 {
  font-size: 10em;
  font-weight: 300;
}
.SLiderItems .SliderWeather span {
  text-align: center;
  font-size: 2em;
  margin-right: 10px;
}
.SLiderItems .SliderWeather i {
  font-size: 3em;
}
.SLiderItems .SliderPrice h6 {
  margin-top: 10px;
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
}
.SLiderItems .SliderPrice h3 {
  font-weight: 300;
  text-align: center;
  font-size: 3em;
  color: #26C3F3;
}
.SLiderItems .SliderPrice a {
  text-decoration: none;
  margin-left: 39%;
  border: 2px solid gray;
}

.Layout {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.7;
  z-index: 2;
  background: black;
}

.Chevrons {
  display: flex;
  align-items: center;
}
.Chevrons i {
  position: absolute;
  z-index: 5;
  padding: 20px;
  background: green;
  border-radius: 100%;
}
.Chevrons i:last-child {
  color: yellow;
  right: 30px;
}
.Chevrons i:first-child {
  color: blue;
  left: 30px;
}

@media (max-width: 360px) {
  #Slider .SliderCity h1 {
    font-size: 60px;
  }
  #Slider .SliderPrice a {
    margin-left: 20%;
  }
}
#tabs {
  position: relative;
  bottom: 45px;
  z-index: 6;
}

#Paralax {
  background-image: url("../img/Netherlands_Houses_491444.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 60px;
  background-attachment: fixed;
}
#Paralax .ParalaxItem .tac {
  text-align: center;
}
#Paralax .ParalaxItem h2 {
  font-size: 40px;
  font-weight: 270;
  text-align: center;
}
#Paralax .ParalaxItem h1 {
  font-size: 50px;
  margin-top: 25px;
  font-weight: 300;
}
#Paralax .ParalaxItem span {
  display: block;
  text-align: center;
  font-size: 16px;
}
#Paralax .ParalaxItem small {
  display: block;
  text-align: center;
  font-size: 13px;
  margin-top: 15px;
}
#Paralax .ParalaxItem a {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  border: 2px solid white;
}

#ActivitiesDetails {
  padding-bottom: 50px;
}
#ActivitiesDetails .container .row .Path {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 10px;
}
#ActivitiesDetails .container .row .Path ul {
  margin: 15px 0px;
}
#ActivitiesDetails .container .row .Path ul li {
  list-style-type: none;
  float: left;
}
#ActivitiesDetails .container .row .Path ul li i {
  color: #cccccc;
  margin-left: 7px;
  margin-right: 7px;
}
#ActivitiesDetails .container .row .Path ul li a {
  text-decoration: none;
  font-size: 13px;
}
#ActivitiesDetails .container .row .ShortInfo h2 {
  line-height: 1em;
  font-size: 39.985400000000006px;
  font-weight: 300;
  color: #565656;
  margin-bottom: 10px;
}
#ActivitiesDetails .container .row .ShortInfo p {
  font-size: 12px;
  line-height: 1em;
  color: #737373;
  margin-bottom: 10px;
}
#ActivitiesDetails .container .row .ShortInfo p span {
  color: #565656;
}
#ActivitiesDetails .container .row .ShortInfo ul li {
  list-style: none;
  float: left;
}
#ActivitiesDetails .container .row .ShortInfo ul li a {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.5em;
  margin-right: 10px;
}
#ActivitiesDetails .container .row .ShortInfo ul li a span {
  margin-right: 2px;
}
#ActivitiesDetails .container .row .ShortInfo ul li:last-child a span {
  color: #565656;
}
#ActivitiesDetails .container .row .Price {
  margin-bottom: 10px;
}
#ActivitiesDetails .container .row .Price p {
  text-align: right;
}
#ActivitiesDetails .container .row .Price p small {
  color: #818181;
  line-height: 1.4000000000000001em;
}
#ActivitiesDetails .container .row .Price p span {
  font-size: 42px;
  line-height: 1em;
  color: #686868;
}
#ActivitiesDetails .container .row .Gallary .nav .nav-item a {
  font-size: 13px;
  padding: 10px 15px;
}
#ActivitiesDetails .container .row .Gallary .nav .nav-item a i {
  margin-right: 5px;
}
#ActivitiesDetails .container .row .Gallary .tab-content .Photos .container-fluid .row .col-lg-3 {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}
#ActivitiesDetails .container .row .Gallary .tab-content .Photos .container-fluid .row .col-lg-3 i {
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  left: 40%;
  opacity: 0;
  z-index: -1;
  transition: all .4s ease;
}
#ActivitiesDetails .container .row .Gallary .tab-content .Photos .container-fluid .row .col-lg-3 img {
  transform: scale(1);
  opacity: 1;
  transition: all 4s ease;
}
#ActivitiesDetails .container .row .Gallary .tab-content .Photos .container-fluid .row .col-lg-3:hover i {
  top: 40%;
  opacity: 1;
  z-index: 1;
}
#ActivitiesDetails .container .row .Gallary .tab-content .Photos .container-fluid .row .col-lg-3:hover img {
  transform: scale(1.2);
  opacity: .7;
}
#ActivitiesDetails .container .row .Description h3 {
  font-size: 30.758000000000003px;
  font-weight: 300;
  color: #565656;
  line-height: 1.3em;
  margin-top: 33px;
}
#ActivitiesDetails .container .row .Description p {
  color: #737373;
  font-family: 'Open Sans', Tahoma, Arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 400;
}
#ActivitiesDetails .container .row .Description a {
  transition: 0.2s;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 16px;
  display: inline-block;
}
#ActivitiesDetails .container .row .Description a:hover {
  border-radius: 10px;
}
