body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.color-Main {
  background: #ed8323;
}

.color-second {
  background: #0ebcf2;
}

.color-three {
  background: #b66672;
}

.color-fourth {
  background: #b66672;
}

.color-five {
  background: #4F96B6;
}

.color-six {
  background: #E45E66;
}

.color-seven {
  background: #96AA66;
}

.color-eight {
  background: #5B84AA;
}

.color-nine {
  background: #CA2AC6;
}

.color-ten {
  background: #CF315A;
}

.color-eleven {
  background: #74C683;
}

.color-twelve {
  background: #30BBB1;
}

.color-thirteen {
  background: #7646B8;
}

.color-fourteen {
  background: #966650;
}

.color-fifteen {
  background: #1A5AE4;
}

.color-sixteen {
  background: #FF1D13;
}

#tabs .container .row .col-md-6 .nav-tabs .nav-item .nav-link {
  background: rgba(0, 0, 0, 0.4);
  border: none !important;
  color: #fff;
  margin: 0px 5px;
}
#tabs .container .row .col-md-6 .nav-tabs .nav-item .nav-link i {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 2px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
  transition: all .4s ease;
}
#tabs .container .row .col-md-6 .nav-tabs .nav-item .nav-link i:hover {
  background: #4F96B6;
  color: #fff;
}
#tabs .container .row .col-md-6 .nav-tabs .nav-item .nav-link span {
  color: #fff;
}
#tabs .container .row .col-md-6 .nav-tabs .nav-item .nav-link.active {
  background: #4F96B6;
}
#tabs .container .row .col-md-6 .nav-tabs .nav-item .nav-link.active i {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 2px;
  background: rgba(0, 0, 0, 0.3);
  margin-right: 5px;
  border-radius: 50%;
  text-align: center;
}
#tabs .container .row .col-md-6 .nav-tabs .nav-item .nav-link.active span {
  color: #fff;
}
