body{
	font-family: 'Open Sans', sans-serif;
	
}

.color-Main{
  background: #ed8323;
  color:#fff !important;
}

.color-second{
  background: #0ebcf2;
}

.color-three{
  background: #b66672;
}

.color-fourth{
  background: #b66672;
}
.color-five{
	background: #4F96B6;
}
.color-six{
	background: #E45E66;
}
.color-seven{
	background: #96AA66;
}
.color-eight{
	background: #5B84AA;
}
.color-nine{
	background: #CA2AC6;
}
.color-ten{
	background: #CF315A;
}
.color-eleven{
	background: #74C683;
}
.color-twelve{
	background: #30BBB1;
}
.color-thirteen{
	background: #7646B8;
}
.color-fourteen{
	background: #966650;
}
.color-fifteen{
	background: #1A5AE4;
}
.color-sixteen{
	background: #FF1D13;
}
.text-style{
	font-size: 107%;
	line-height: 1.5em;
}
.white-space{
    display: block;
    position: relative;
    margin: 30px 0 30px 0;
    clear: both;
}
@keyframes bounce {
  0%, 20%, 50%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
   80% {
    transform: translateY(1px);
  }
}
@keyframes clock {
  100% {
    transform: rotateZ(360deg);
  }
}
  
										    		
										    		
		//Extra Small devices (landscape phones , 576px and up)
    	@media (max-width: 576px){
    	


    	}								    		
		//Small devices (landscape phones , 576px and up)
    	@media (min-width: 576px)  and (max-width: 768px){
    		


    	}
    	//Medimum (tablets  , 768px and up)
    	@media (min-width: 768px)  and (max-width: 992px){
			
    	}
    	//Large devices (desktops  , 992px and up)
    	@media (min-width: 992px)  and (max-width: 1200px){
			
			
    	}
    	//Extra Large devices (large desktops , 1200px and up)
    	@media (min-width: 1200px){
			

    	}


@import "elements";
@import "CommingSoon";
@import "Header";
@import "AboutUs";
@import "AboutUsAttenchment";
@import "AboutContent";
@import "AboutScenes";
@import "Page404";
@import "Loading";