body{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}

.color-Main{
  background: #ed8323;
}

.color-second{
  background: #0ebcf2;
}

.color-three{
  background: #b66672;
}

.color-fourth{
  background: #b66672;
}
.color-five{
	background: #4F96B6;
}
.color-six{
	background: #E45E66;
}
.color-seven{
	background: #96AA66;
}
.color-eight{
	background: #5B84AA;
}
.color-nine{
	background: #CA2AC6;
}
.color-ten{
	background: #CF315A;
}
.color-eleven{
	background: #74C683;
}
.color-twelve{
	background: #30BBB1;
}
.color-thirteen{
	background: #7646B8;
}
.color-fourteen{
	background: #966650;
}
.color-fifteen{
	background: #1A5AE4;
}
.color-sixteen{
	background: #FF1D13;
}
@import "elements";