body{
	font-family: 'Open Sans', sans-serif;
	
}

.color-Main{
  background: #ed8323;
  color:#fff !important;
}
.color-Main-cl{
  color: #ed8323;
  transition:color .3s ease;
  &:hover{
	color:darken(#ed8323,10%);
  }
}
.color-second{
  background: #0ebcf2;
}
.color-second-cl{
  color: #0ebcf2;
  transition:color .3s ease;
  &:hover{
	color:darken(#0ebcf2,10%);
  }
}
.color-three{
  background: #b66672;
}
.color-three-cl{
  color: #b66672;
  transition:color .3s ease;
  &:hover{
	color:darken(#b66672,10%);
  }
}
.color-fourth{
  background: #b66672;
}
.color-fourth-cl{
  color: #b66672;
  transition:color .3s ease;
  &:hover{
	color:darken(#b66672,10%);
  }
}
.color-five{
	background: #4F96B6;
}
.color-five-cl{
	color: #4F96B6;
  transition:color .3s ease;
  &:hover{
	color:darken(#4F96B6,10%);
  }
}
.color-six{
	background: #E45E66;
}
.color-six-cl{
	color: #E45E66;
  transition:color .3s ease;
  &:hover{
	color:darken(#E45E66,10%);
  }
}
.color-seven{
	background: #96AA66;
}
.color-seven-cl{
	color: #96AA66;
  transition:color .3s ease;
  &:hover{
	color:darken(#96AA66,10%);
  }
}
.color-eight{
	background: #5B84AA;
}
.color-eight-cl{
	color: #5B84AA;
  transition:color .3s ease;
  &:hover{
	color:darken(#5B84AA,10%);
  }
}
.color-nine{
	background: #CA2AC6;
}
.color-nine-cl{
	color: #CA2AC6;
  transition:color .3s ease;
  &:hover{
	color:darken(#CA2AC6,10%);
  }
}
.color-ten{
	background: #CF315A;
}
.color-ten-cl{
	color: #CF315A;
  transition:color .3s ease;
  &:hover{
	color:darken(#CF315A,10%);
  }
}
.color-eleven{
	background: #74C683;
}
.color-eleven-cl{
	color: #74C683;
  transition:color .3s ease;
  &:hover{
	color:darken(#74C683,10%);
  }
}
.color-twelve{
	background: #30BBB1;
}
.color-twelve-cl{
	color: #30BBB1;
  transition:color .3s ease;
  &:hover{
	color:darken(#30BBB1,10%);
  }
}
.color-thirteen{
	background: #7646B8;
}
.color-thirteen-cl{
	color: #7646B8;
  transition:color .3s ease;
  &:hover{
	color:darken(#7646B8,10%);
  }
}
.color-fourteen{
	background: #966650;
}
.color-fourteen-cl{
	color: #966650;
  transition:color .3s ease;
  &:hover{
	color:darken(#966650,10%);
  }
}
.color-fifteen{
	background: #1A5AE4;
}
.color-fifteen-cl{
	color: #1A5AE4;
  transition:color .3s ease;
  &:hover{
	color:darken(#1A5AE4,10%);
  }
}
.color-sixteen{
	background: #FF1D13;
}
.color-sixteen-cl{
	color: #FF1D13;
  transition:color .3s ease;
  &:hover{
	color:darken(#FF1D13,10%);
  }
}
.LastLi{
	color:#999999;
	i{
		display:none;
	}
}
.text-style{
	font-size: 107%;
	line-height: 1.5em;
}
.white-space{
    display: block;
    position: relative;
    margin: 30px 0 30px 0;
    clear: both;
}
@keyframes bounce {
  0%, 20%, 50%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
   80% {
    transform: translateY(1px);
  }
}
@keyframes clock {
  100% {
    transform: rotateZ(360deg);
  }
}
  
										    		
										    		
		//Extra Small devices (landscape phones , 576px and up)
    	@media (max-width: 576px){
    	


    	}								    		
		//Small devices (landscape phones , 576px and up)
    	@media (min-width: 576px)  and (max-width: 768px){
    		


    	}
    	//Medimum (tablets  , 768px and up)
    	@media (min-width: 768px)  and (max-width: 992px){
			
    	}
    	//Large devices (desktops  , 992px and up)
    	@media (min-width: 992px)  and (max-width: 1200px){
			
			
    	}
    	//Extra Large devices (large desktops , 1200px and up)
    	@media (min-width: 1200px){
			

    	}

.pulse:hover {
  animation-name: pulse_animation;
  animation-duration: 1000ms;
  transform-origin:70% 70%;
  animation-timing-function: linear;
}
@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}


@import "elements";
@import "CommingSoon";
@import "Header";
@import "AboutUs";
@import "AboutUsAttenchment";
@import "AboutContent";
@import "AboutScenes";
@import "Page404";
@import "Loading";
@import "effects";
@import "contact";
@import "homeSlider";
@import "homeTab";
@import "homeParalax";
@import "compliments";
@import "ActivitiesDeatilsContent";

blockquote{
  color: red;
}
// .noPadding{


//     padding: 0px ;
//   }